<script src="https://use.fontawesome.com/62e43a72a9.js"></script>
<!-- Theme style -->
<!-- Theme style -->
<link rel="stylesheet" href="../../../assets/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-info">
        <div class="card-header">
            <h2>Boleta</h2>
        </div>

        <div class="card-body">
            <div class="col-lg-10">
                <h4>Código do ativo</h4>
                <input type="text " placeholder=" Ativo" value="{{active?.ativo}}">
            </div>

            <div class="col-lg-2" *ngIf="active?.operacao == 'Vender'">
                <h1>Ordem de venda</h1>
            </div>

            <div class="col-lg-2" *ngIf="active?.operacao == 'Comprar'">
                <h1>Ordem de compra</h1>
            </div>

            <div class="col-lg-4 ">
                <br><br>
                <h4>Valor da cotação</h4>
                <input type="number" class="form-control" placeholder="Valor" value="{{active?.ultimo_negocio}}">
            </div>

            <div class="col-lg-4 ">
                <br><br>
                <h4>Quantidade</h4>
                <input type="number" class="form-control" placeholder=" Quantidade" value="100">
            </div>

            <div class="col-lg-4 ">
                <br><br>
                <h4>Assinatura eletrônica</h4>
                <input type="text" class="form-control" placeholder=" Assinatura eletrônica">
            </div>

            <div class="col-lg-12" *ngIf="active?.operacao == 'Comprar'">
                <br>
                <button class="btn btn-outline-primary float-right" type="submit">Comprar</button>
            </div>

            <div class="col-lg-12" *ngIf="active?.operacao == 'Vender'">
                <br>
                <button class="btn btn-outline-primary float-right" type="submit">Vender</button>
            </div>
        </div>
    </div>
</section>