<!-- Theme style -->
<link rel="stylesheet" href="../../../assets/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-info">
        <div class="card-header">
            <h2>Meus investimentos em Tesouro Direto</h2>

        </div>
        <div class="card-body table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Título</th>
                        <th>Vencimento</th>
                        <th>Quantidade</th>
                        <th>Valor atual</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>SELIC</td>
                        <td>25/09/2015</td>
                        <td>0,13</td>
                        <td>R$ 102</td>
                        <td>
                            <span class="icones">
                                <a class="btn btn-outline-primary" title="Comprar">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="icones">
                                <a class="btn btn-outline-primary" title="Vender">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
    <br>
    <strong><p class="text-center">Seção destinada para a listagem dos títulos do tesouro direto adquiridos para investimento.</p></strong>
</section>