<script src="https://use.fontawesome.com/62e43a72a9.js"></script>
<!-- Theme style -->
<!-- Theme style -->
<link rel="stylesheet" href="../../../assets/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-info">
        <div class="card-header">
            <h2>Ações</h2>

        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Papel</th>
                        <th>Últ. Neg.</th>
                        <th>Preço Mín.</th>
                        <th>Preço Méd.</th>
                        <th>Preço Máx.</th>
                        <th>Volume</th>
                        <th style="width: 100px; align-content:center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>PETR4</td>
                        <td>25,78</td>
                        <td>25,18</td>
                        <td>25,48</td>
                        <td>25,88</td>
                        <td>15332</td>
                        <td>
                            <span class="icones">
                                <a class="btn btn-outline-primary" title="Comprar">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="icones">
                                <a class="btn btn-outline-primary" title="Vender">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>FLRY3</td>
                        <td>25,78</td>
                        <td>25,18</td>
                        <td>25,48</td>
                        <td>25,88</td>
                        <td>15332</td>
                        <td>
                            <span class="icones">
                                <a class="btn btn-outline-primary" title="Comprar">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="icones">
                                <a class="btn btn-outline-primary" title="Vender">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <strong>
                <p class="text-center">Carteira de ações para acompanhamento da cotação diária.
                </p>
            </strong>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>