span.element {
    display: inline;
    /* the default for span */
    padding-inline: 25px;
}

span.line {
    display: inline-block;
    padding: 5px;
}

.font-title {
    font-size: 30px;
}

.font-description {
    font-size: 12px;
}

.font-price {
    font-size: 25px;
}

.info-box-content-price {
    padding: 5px 10px;
    margin-left: 10px;
}

.date-footer {
    text-align: right;
}

.add-price-float {
    float: center;
}