<div class="col-sm-3">
    <span class="info-box-icon"><i class="far fa-plus-square"></i></span>
</div>

<div class="col-sm-3 col-sm-12">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div class="info-box bg-blue">
        <div class="info-box-content-price">
            <span class="info-box-text font-title">PETR4</span>
            <p class="font-description">Pétrobras BR</p>
            <span class="info-box-number font-price"> <br> R$ 25,87</span>
            <br>

            <div>
                <span class="line">
                    <span class="element">Mínimo</span>
                <br>
                <span class="element">25,90</span>
                </span>

                <span class="line">
                    <span class="element">Máximo</span>
                <br>
                <span class="element">26,00</span>
                </span>
            </div>

            <span class="progress-description date-footer">
                Lote 1
                <br>
                13/08/2019 06:30
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>

<div class="col-sm-3 col-sm-12">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div class="info-box bg-blue">
        <div class="info-box-content-price">
            <span class="info-box-text font-title">PETR4</span>
            <p class="font-description">Pétrobras BR</p>
            <span class="info-box-number font-price"> <br> R$ 25,87</span>
            <br>

            <div>
                <span class="line">
                        <span class="element">Mínimo</span>
                <br>
                <span class="element">25,90</span>
                </span>

                <span class="line">
                        <span class="element">Máximo</span>
                <br>
                <span class="element">26,00</span>
                </span>
            </div>

            <span class="progress-description date-footer">
                    Lote 1
                    <br>
                    13/08/2019 06:30
                </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>