<div class="col-sm-3 col-sm-12">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div class="info-box bg-blue">
        <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">PETR4</span>
            <span class="info-box-number">R$ 25,87</span>
            <br>

            <div>
                <span class="b">
                    <span class="a">Mínimo</span>
                <span class="a">Máximo</span>
                </span>
                <br>
                <span class="b">
                    <span class="a">25,80</span>
                <span class="a">25,90</span>
                </span>
            </div>

            <!-- The progress section is optional -->
            <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
            </div>
            <span class="progress-description">
                70% Increase in 30 Days
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>